body {
    background-color: black;
    color: yellow;
    text-align: center;
    width: 300px;
    height: 300px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border: dashed 3px yellow;
    width: 300px;
    height: 300px;
}       

.grid div {
    width: 20px;
    height: 20px;
}

.shooter {
    background-color: blue;
}

.invader {
    background-color: purple;
    border-radius: 50%;
}

.boom {
    background-color: red;
    border-radius: 50%;
}

.laser {
    background-color: yellow;
    border-radius: 50%;
}
