html {
    max-width: 500px;
    margin: auto;
}

body {
    background-color: black;
    color: yellow;
    text-align: center;
    width: 450px;
    height: 450px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    border: dashed 3px yellow;
    width: 450px;
    height: 450px;
}       

.grid div {
    width: 30px;
    height: 30px;
}

.shooter {
    background-color: blue;
}

.invader {
    background-color: purple;
    border-radius: 50%;
}

.boom {
    background-color: red;
    border-radius: 50%;
}

.laser {
    background-color: yellow;
    border-radius: 50%;
}
